.game {
	background-image: url("img/fon1.jpg");
	background-repeat: no-repeat;
	border: 1px solid blue;
	/*width: 1700px;*/
	width: 1600px;
	height: 900px;
	overflow: hidden;
	position: absolute;
}
/*обобщение врагов*/
.game > .enemy {
	position: absolute;
	left: 1600px;
	/*border: 1px solid blue;*/
	width: 128px;
	background-image: url("img/1.png");
	/*transform: scale(-1,1);*/
}

/*собственно враги*/
.enemy1 {	
	top: 150px;
	background-position: 0px 0px;
	height: 128px;
	transform: scale(-1,1);
}
.enemy2 {
	top: 20px;
	height: 90px;
	background-position: 128px 0px;
	transform: scale(-1,1);
}
.enemy3 {
	top: 30px;
	height: 95px;
	background-position: 256px 0px;
	transform: scale(-1,1);
}
.food{
	top: 40px;
	width: 53px;
	height: 64px;
	background-image: url("img/worm.png");
	left: 1600px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	animation: 1s wormanimation infinite;
	-webkit-animation: 1s wormanimation infinite; 
	-moz-animation: 1s wormanimation infinite; 
	-o-animation: 1s wormanimation infinite; 
}
.player {
	height: 76px;
	width: 128px;
	left: 40px;
	top: 40px;
	position: absolute;
	background-image: url("img/1.png");
	background-position: 256px 128px;
	
	/*transform: scale(-1,1);*/
}
@-webkit-keyframes wormanimation{
	0%{
		background-position: 0px 0px;
	}
	49%{
		background-position: 0px 0px;
	}
	50%{
		background-position: -59px 0px;
	}
	99%{
		background-position: -59px 0px;
	}
	100%{
		background-position: 0px 0px;
	}
}
.vodorosli{
	height: 200px;
	width: 1600px;
	background-image: url("img/vodorosli1.png");
	background-repeat: repeat-x;
	background-size: 10%;
	position: absolute;
	top: 700px;
	-webkit-animation: 5s vodorosli infinite; 
}
@-webkit-keyframes vodorosli{
	0%{
		background-position: 0px 0px;
	}
	50%{
		background-position: 0px 10px;
	}
	100%{
		background-position: 0px 0px;
	}
}